body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  cursor: pointer;
}

.job-board .link {
  color: black !important;
}

.job-board .ui.default.dropdown:not(.button) > .text,
.job-board .ui.dropdown:not(.button) > .default.text {
  color: black;
}

.ui.selection.active.dropdown {
  border-color: black !important;
}

.job-board .ui.selection.dropdown .menu > .item {
  border-top: 0;
}

.job-board .ui.selection.active.dropdown:hover .menu,
.job-board .ui.selection.active.dropdown .menu {
  border: 0.125rem solid black;
  border-radius: 0;
  background: #f6fffe;
}

.job-board .ui.active.search.dropdown input.search:focus + .text {
  color: #137752 !important;
}

.job-board .ui.placeholder,
.job-board .ui.placeholder .image.header:after,
.job-board .ui.placeholder .line,
.job-board .ui.placeholder .line:after,
.job-board .ui.placeholder > :before {
  background-color: #f6fffe;
}

.job-board .ui.dropdown > .dropdown.icon {
  margin-left: 0.5em;
}

.job-board .ui.dropdown .menu {
  border-radius: 0;
  border: 1px solid black;
  background: #f6fffe;
  width: 100%;
}

.job-board .ui.dropdown .menu .selected.item,
.job-board .ui.dropdown.selected {
  background: #edf8f6;
}
